cache/
cache/gate/jacket/*
courses/
data/
score/
songs/*
!songs/K-Shoot MANIA/
songs/K-Shoot MANIA/*
!songs/K-Shoot MANIA/.gitkeep
config.ini
*.exe
hsptmp
hsptmp.*
obj
*.ax
*.hsp.i
packfile
start.ax
backup.bak
